@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Muli:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

:root {
  --font-primary: 'Baloo da 2', serif;
  --font-secundary: 'Josefin Slab', serif;
  --font-action: 'Muli', serif;
}

body {
  margin: 0;
  min-width: 250px;
}

* {
  box-sizing: border-box;
  font-family: var(--font-primary);  
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.1s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: rgb(116,111,201);
  color: white;
}

.header {
  background: rgb(116,111,201);
  background: linear-gradient(90deg, rgba(116,111,201,1) 40%, rgba(84,9,121,1) 100%, rgba(0,212,255,1) 100%);
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/*cria uma base no header*/
.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #000;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 0;
  
}

.addBtn:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
}
